body {
    margin-top: -5px;
}

.clean-block.clean-hero {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0;
}

.clean-block.clean-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    z-index: 1;
}

.clean-block.clean-hero .text {
    max-width: 640px;
    color: #fff;
    z-index: 2;
    padding: 40px 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

.clean-block.clean-hero h2 {
    margin-bottom: 30px;
}

.clean-block.clean-hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

@media (min-width: 576px) {
    .clean-block {
        padding-bottom: 100px;
    }

    .clean-block .block-heading {
        padding-top: 80px;
    }

    .clean-block.clean-hero {
        min-height: 780px;
    }

    .clean-block.clean-hero .text {
        padding: 0;
    }

    .clean-block.clean-block.clean-gallery .item {
        margin-bottom: 40px;
    }

    .clean-block.payment-form .title {
        font-size: 1.2em;
    }

    .clean-block.payment-form .products {
        padding: 40px;
    }

    .clean-block.payment-form .products .item-name, .clean-block.payment-form .products .price {
        font-size: 1em;
    }

    .clean-block.payment-form .card-details {
        padding: 40px 40px 30px;
    }

    .clean-block.payment-form .card-details button {
        margin-top: 2em;
    }
}

/*#scrolldown {*/
/*    position: absolute;*/
/*    bottom: 60px;*/
/*    display: block;*/
/*    right: 50%;*/
/*}*/

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
