.experience {
  padding: 2rem 0 2rem 0;
  background: #fdfcfa;
}

h1 {
  text-align: center;
}

.experience__container {
  display: block;
  padding: 1rem;
  /* flex-flow: column; */
  /* align-items: center; */
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}

.experience__item {
  margin-bottom: 60px;
}

/* .experience__position {
  float: left;
} */

.experience__organization {
  float: left;
  margin-top: 5px;
  padding: 2px 8px 2px 8px;
  background-color: #01a7c2;
  color: aliceblue;
  border-radius: 8%;
}

.experience__period {
  float: right;
}

.experience__desc {
  float: left;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .experience__item {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
} */
