.skills {
  padding: 2rem 0 2rem 0;
  background: #fdfcfa;
}

h1 {
  text-align: center;
}

.skills__container {
  display: block;
  padding: 1rem;
  /* flex-flow: column; */
  /* align-items: center; */
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.html::before {
  background-color: #e34f26;
}
.bar.css::before {
  background-color: #264de4;
}
.bar.php::before {
  background-color: #8892be;
}
.bar.mysql::before {
  background-color: #00758f;
}
.bar.laravel::before {
  background-color: #fb503b;
}
.bar.js::before {
  background-color: #f7df1e;
}
.bar.nodejs::before {
  background-color: #3c873a;
}
.bar.react::before {
  background-color: #00d8ff;
}
.bar.mongodb::before {
  background-color: #589636;
}
.bar.java::before {
  background-color: #f89820;
}
.bar.github::before {
  background-color: #333;
}

.bar.front::before {
  background-color: #ffcc33;
}
.bar.back::before {
  background-color: #a6cfe3;
}

.bar.learning::before {
  width: calc(20% - 10px);
}
.bar.basic::before {
  width: calc(40% - 10px);
}
.bar.intermediate::before {
  width: calc(60% - 10px);
}
.bar.advanced::before {
  width: calc(80% - 10px);
}
.bar.expert::before {
  width: calc(100% - 10px);
}
